.abc-seccion {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    margin: 5px;
}

.container {
    width: 19%;
    flex-shrink: 0;
    border-radius: 15px;
    margin: 0;
}

.image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 0;
}

.letra {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #9A9;
    cursor: pointer;        
}

.letra:hover {
    background-color: #3A3;
}